# ====================
#         IDE
# ====================
.vs/
.vscode/

# ====================
#        测试
# ====================
test/

# ====================
#        环境
# ====================
# python
.venv/
# npm
node_modules/
